modLoader = "javafml" #mandatory
loaderVersion = "${loader_version_range}" #mandatory This is typically bumped every Minecraft version by Forge. See our download page for lists of versions.
license = "${mod_license}"
issueTrackerURL="https://github.com/Arcomit/lucisrenderlib/issues"
[[mods]] #mandatory
modId = "${mod_id}" #mandatory
version = "${mod_version}" #mandatory
displayName = "${mod_name}" #mandatory
authors = "${mod_authors}" #optional
credits="Arcomit, AbbyQAQ"
displayURL = "https://www.curseforge.com/minecraft/mc-mods/lrlib"
logoFile="lucisrenderlib.png"
description = '''
光渲染库，提供了一个后处理框架，方便开发者更好的制作特效。
The lucis rendering library provides a post-processing framework, enabling developers to create special effects more efficiently.
'''

[[dependencies."${mod_id}"]] #optional
modId = "forge" #mandatory
mandatory = true #mandatory
versionRange = "${forge_version_range}" #mandatory
ordering = "NONE"
side = "BOTH"# Here's another dependency
[[dependencies."${mod_id}"]]
modId = "minecraft"
mandatory = true
versionRange = "${minecraft_version_range}"
ordering = "NONE"
side = "BOTH"
